.info{
  display: none;
}

.ListTasks {
  /* display: none; */
  font-size: 0.875rem;
}

section > img {
  padding-top: 40px;
}

.boxRadio {
  display: flex;
  padding: 10px;
  background: var(--gray-500);
  border-radius: 8px;
  height: 4.5rem;
  gap:10px;
  align-items: center;
}

label > input {
  margin-top: -16px;
  line-height: 0;
  border: 2px var(--blue) solid;
  height: 1rem;
  width: 1rem;
  outline: transparent;
}

.boxRadio > img {
  margin-top: -16px;
  line-height: 0;
}